{% extends 'base_blog.html' %}
    {% load static %}

{% block title %}Detail post{% endblock  %}

    <!-- Blog Start -->
    {% block content %}
    <!-- About Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Contenu principal -->
                <div class="col-lg-7">
                    <div class="section-title position-relative pb-3 mb-5">

                        <h1 class="mb-0">{{ post.sujet }}</h1>
                        <h5 class="fw-bold text-primary text-uppercase d-flex justify-content-between">
                            Categories: {{ post.category.titre }}
                            {% for category in post.category.all %}
                            {{ category.titre }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </h5>
                    </div>
                    <p class="mb-4">{{ post.contenu }}</p>
                    {% if request.user == post.autheur  %}
                            <a class=" delete-link btn btn-outline-primary custom-btn" href="{% url 'home:delete_publication' post.id %}">
                                <i class="fas fa-trash-alt"></i> Supprimer
                            </a>
                            {% endif %}
                </div>

                <!-- Image -->
                <div class="col-lg-5" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        {% if post.image %}
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{{ post.image.url }}" style="object-fit: cover;" alt="Post Image">
                        {% else %}
                        <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="img/about.jpg" style="object-fit: cover;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Section des commentaires -->
        <div class="container py-5">
            <h3 class="mb-4 fw-bold text-primary">Ajouter un Commentaire</h3>

            <form method="post" class="form-class d-flex align-items-center mb-5" action="{% url 'home:create_comment' publication.id %}">
                <!-- <form method="post" class="form-class d-flex align-items-center mb-5" action=""> -->
                {% csrf_token %}
                <input type="text" name="commentaire" class="form-control me-3" placeholder="Write your comment..." style="flex: 1; border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                <button type="submit" class="btn btn-primary px-4 py-2">Commenter</button>

            </form>

            <h2 class="h2 fw-bold text-primary mb-4">Commentaire {{ post.commentaire_set.count }}</h2>
            <ul class="list-group">
                {% for comment in comments %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div>
                        <p class="mb-1">{{ comment.contenu }}</p>
                        <small class="text-muted">By
                            <span class="fw-bold">@{{ comment.autheur.username }}</span>
                            - {{ comment.date_creation|timesince }} ago
                        </small>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- About End -->




{% endblock %}

