{% extends 'base_blog.html' %}
{% load static %}
{% block title %} Notifications {% endblock %}

{% block content %}

    <h1>Vos Notifications</h1>

    {% if notifications %}
        <ul>
            {% for notification in notifications %}
                <li>
                    {{ notification.message }}
                    <small>({{ notification.date_creation }})</small>
                    {% if not notification.lu %}
                        <strong> - Nouveau</strong>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Vous n'avez aucune notification.</p>
    {% endif %}\
{% endblock %}