{% extends "base_blog.html" %}
{% load static %}
{% block title %} {{ publication.sujet}} {% endblock %}



{% block content %}
<h1><a href="{% url 'home:detail_publication' post.id %}">{{ post.sujet }}</a></h1>
<div class="post bg-secondary text-white">
  <p class="fs-2 ">{{ post.contenu }}</p>
  <p>by: <span class="fw-bold">@{{ post.autheur }} </span>
      {{ post.date_creation | timesince }} ago
  </p>
  <p>Categories: {{post.category.titre}}
      {% for category in post.category.all %}
      {{ category.titre }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
  </p>

</div>


<h3 class="h3">Add a comment</h3>
<form method="post" class="form-class" action="{% url 'home:create_comment' publication.id %}">
    {% csrf_token %}
    <input type="text" name="commentaire" value="" placeholder="Ecrire votre commentaire">
    <button type="submit">commenter</button>
</form>
<br>
<h2 class="h2">Commentaires</h2>
<ul>
    {% for comment in comments %}

      <li>{{ comment.contenu }} -
        <span class="fw-bold">@{{ comment.autheur.username }} </span>
        <span class="">({{ comment.date_creation|timesince }} ago)</span></li>
    {% endfor %}
</ul>


<a href="" class="btn btn-info">Edit</a>
<a href="" class="btn btn-warning">Delete</a>
<a href="" class="btn btn-primary">Like ({{ post.likes.count }})</a>
{% endblock %}
