{% extends 'base_blog.html' %}
{% load static %}
{% block title %} Connextion {% endblock %}


<!-- Navbar Start -->
{% block navbar %}
{% endblock %}
<!-- Navbar End -->
{% block content %}
<div class="container-fluid">
    <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3 shadow">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Connexion</h3>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <!-- Username Field -->
                    <div class="form-floating mb-3">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required>
                        <label for="username">Nom d'utilisateur</label>
                    </div>

                    <!-- Password Field -->
                    <div class="form-floating mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                        <label for="inputPassword">Mot de passe</label>
                    </div>

                    <!-- Password Help Text -->
                    <div class="form-text mb-3">
                        Doit contenir 8-20 caractères.
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary py-3 w-100">Se connecter</button>
                </form>

                <!-- Additional Links -->
                <div class="d-flex justify-content-between mt-3">
                    <a href="#">Mot de passe oublié ?</a>
                    <a href="#">Créer un compte</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
