{% extends 'base_blog.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{ user.default_avatar }}" class="card-img-top" alt="Photo de profil">
                <div class="card-body">
                    <h5 class="card-title">{{ user.username }}</h5>
                    <p class="card-text">{{ user.first_name }} {{ user.last_name }}</p>
                    <p class="card-text"><small class="text-muted">{{ user.email }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Informations du profil</h5>
                    <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
                    <p><strong>Nom:</strong> {{ user.first_name }}</p>
                    <p><strong>Prénom:</strong> {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <!-- <p><strong>Date de naissance:</strong> {{ user.date_of_birth }}</p> -->
                    <p><strong>Adresse:</strong> {{ user.address }}</p>
                    <!-- <p><strong>Téléphone:</strong> {{ user.phone_number }}</p> -->
                    <!-- Ajoutez d'autres champs de profil ici -->
                </div>
            </div>
        </div>
    </div>




    <hr>

<div class="message">
    {% if request.user != user %}
      <a href="{% url 'message:message' user.id %}"> Envoyer Message</a>
    {% else %}
      <a href="{% url 'message:conversation_list' %}">Tous mes messages </a>
    {% endif %}
  </div>
  <hr class="custom-hr">


  <div class="mx-5">

  <h3>Abonnement</h3>
  <ul>
      {% for follower in followers %}
          <li>{{ follower.followers.username }}</li>
  
          {% if request.user != follower %}
              <form method="post" action="{% url 'accounts:follow_user' follower.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">
                      {% if request.user in follower.followers.all %}
                          Unfollow
                      {% else %}
                          Follow
                      {% endif %}
                  </button>
              </form>
          {% endif %}
      {% endfor %}
  </ul>

  <h3>Abonnes</h3>
  <ul>
      {% for followed in followings %}
          <li>{{ followed.followed.username }}</li>
      {% endfor %}
  </ul>

  {% endblock %}

  </div>
</div>

<style>
    /* Style de la balise hr */
.custom-hr {
    border: 0;
    border-top: 2px solid #00796b; /* Couleur de la ligne */
    margin: 20px 0; /* Espacement vertical autour de la ligne */
    width: 100%; /* Occupe toute la largeur disponible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère sous la ligne */
}

</style>