{% extends "base_forum.html" %}
{% load static %}
{% block title %}Supprimer publication {% endblock %}

{% block css %}
 <!-- <link href="{% static 'css/index.css' %}" rel="stylesheet"> -->
{% endblock %}

{% block content %}

<div class="my-5 mx-5 text-center">
  <p class="text-warning">Voulez vous vraiment Supprimer: {{ obj.contenu|truncatechars:30 }}...</p>
  <form class="" action="" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger" name="button">Supprimer</button>
  </form>
  <a href="" class="btn btn-warning">retourner</a>

</div>
{% endblock %}
